<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
       <h5>MY FIRST FORM</h5>
       	<% if user_signed_in? %>
       		<%= link_to "Sign Out" , destroy_user_session_path, method: :delete %>
       	<% end %>
    </div>
  </div>
</nav>

